AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
APP_STORAGE_MODE=s3
APP_STORAGE_BUCKET=hair-customized-ai-aaron-dev
APP_STORAGE_PUBLIC_BASE_URL=https://hair-customized-ai-aaron-dev.s3.ap-northeast-2.amazonaws.com
APP_QUEUE_PROVIDER=http
APP_AI_WORKER_BASE_URL=http://localhost:8000
APP_AI_WORKER_BACKEND_BASE_URL=http://localhost:8080
