AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
APP_STORAGE_BUCKET=hair-customized-ai-aaron-dev
AI_WORKER_BACKEND_BASE_URL=http://localhost:8080
FACE_LANDMARKER_MODEL_PATH=C:\Users\aaron\Project\Hair_Customized_Ai\ai\models\face_landmarker.task
